* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    height: 100%;
    width: 100%;
}

a {
    margin: 7px
}

#root{
    display: flex;
    flex-direction: row;
    overflow: hidden;

}




